@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #dadada;
}

/* Gaya untuk mengatur ukuran gambar */
.icon-size {
  width: 400px;  /* Atur lebar gambar sesuai keinginan */
  height: 500px; /* Atur tinggi gambar sesuai keinginan */
}

/* Menempatkan teks di dalam gambar (pada bagian bawah gambar di dalam area gambar) */
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; /* Pastikan teks tetap berada di dalam tombol */
}

/* Responsif untuk ukuran gambar pada perangkat kecil */
@media (max-width: 768px) {
  .icon-size {
    width: 200px;
    height: 300px;
  }
}

/* Hover efek pada gambar */
button:hover .icon-size {
  transform: scale(1.1);  /* Zoom in gambar saat hover */
}


button span {
  transform: scale(1.1);                   
  transform-origin: bottom;
}

/* Posisi awal teks di dalam gambar */
button span {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  transform-origin: bottom;
  transition: transform 0.3s ease, color 0.3s ease; /* Tambahkan ini */
}

/* Margin atas 1 pada elemen yang mengandung tombol */
.mt-1 {
  margin-top: 0.0rem;  /* 4px (Tailwind default) */
}
